<body>
<div class="prepend-top append-bottom text-wrapper round with_border post_text">
    Alors, la page contact. C'est assez compliqué, parce qu'au début on se disait :<br/>
    <em>"Ouais, faut une page contact pour pouvoir mettre nos adresses emails histoire d'être ultra-joignables".</em><br/>
    Sauf qu'à l'ère de Facebook, de Myspace et de la voiture électrique, avouons-le, c'est
    <span class="internal_link">complètement con</span>.<br/>
    <br/>
    Entendons-nous bien, ce qui est con, c'est de faire une page Contact, pas la voiture électrique. Non parce que à priori,
    cette dernière devrait plutôt prendre du galon par rapport à la version précédente à essence.<br/>
    Mais pas question de s'attarder là-dessus plus longtemps, sinon on va encore avoir droit à <em>"Aaaah, c'est pour ça le 'green' dans 'Mondegreen'"</em>.<br/>
    Et ça, <span class="internal_link">franchement</span>, c'est bon quoi. Notez qu'on est pas non plus un lobby du pétrole hein, mais voilà là, en l'occurrence,
    le 'green' de 'Mondegreen' c'est un peu comme le 'navet' de 'navette spatiale'. Ranavoir. Et laissez-moi vous dire
    que c'est plutôt une bonne nouvelle pour l'exploration spatiale.<br/>
    <br/>
    Bon, si vous êtes arrivé(e) jusqu'ici c'est que vous avez <span class="internal_link">vraiment</span> envie d'entrer en contact avec nous,
    soit pour parler musique, soit pour nous faire payer chèrement le temps perdu à lire cette page.<br/>
    Dans les deux cas, nous on a vraiment très envie de savoir ce que vous avez à nous dire (avec une légère préférence pour la première catégorie quand même).<br/>
    <br/>
    <div  style="text-align:center;">
        <span class="internal_link">contact@mondegreen.fr</span>
    </div>
</div>
</body>
