<body>
<div class="prepend-top append-bottom text-wrapper round with_border">
  <p class="post_text" align="center">
    <span class="large loud"><b>Prochainement en ligne</b></span><br/>
    <em>Musique, photos et vidéos</em>
    <br/>
    <br/>
    <%= link_to 'test1', 'images/about_benjamin.jpg', :title => 'test', :rel => 'lightbox[about]' %>
    <%= link_to 'test2', 'images/about_francois.jpg', :title => 'test', :rel => 'lightbox[about]' %>
    <%= link_to 'test3', 'images/about_jeanbaptiste.jpg', :title => 'test', :rel => 'lightbox[about]' %>
    <%= link_to 'test4', 'images/about_patrice.jpg', :title => 'test', :rel => 'lightbox[about]' %>
  </p>
</div>
</body>
