<body>
<div class="prepend-top text-wrapper round with_border">
  <p class="post_text" align="center">
    <span class="large loud"><b>Prochainement en ligne</b></span><br/>
    <em>Musique, photos et vidéos</em>
  </p>
</div>
</body>
