<div id="footer" class="prepend-top append-bottom span-24 last">
  <ul class="navigation round">
    <li>
      <% fb_logo = image_tag('logo_facebook.png', :alt => 'Mondegreen on Facebook') %>
      <%= link_to fb_logo, 'http://www.facebook.com/pages/Mondegreen/113891585547', :target => '_blank', :title => 'Mondegreen on Facebook' %>
    </li>
    <li>
      <% ms_logo = image_tag('logo_myspace.png', :alt => 'Mondegreen on Myspace') %>
      <%= link_to ms_logo, 'http://www.myspace.com/themondegreen', :target => '_blank', :title => 'Mondegreen on MySpace' %>
    </li>
    <li>
      <% yt_logo = image_tag('logo_youtube.png', :alt => 'Mondegreen on Youtube') %>
      <%= link_to yt_logo, 'http://www.youtube.com/user/TheMondegreen', :target => '_blank', :title => 'Mondegreen on YouTube' %>
    </li>
  </ul>
</div>
