<div id="header" class="prepend-top span-24 last">
  <ul class="navigation round shadow with_border">
    <li id="news_li"><%= link_to "News", root_path %></li>
    <li id="media_li"><%= link_to "Media", media_path %></li>
    <li id="about_li"><%= link_to "About", about_path %></li>
    <li id="contact_li"><%= link_to "Contact", contact_path %></li>
  </ul>
</div>
