<div id="content" class="prepend-top round shadow with_border span-24 last" style="background-color:#bab4a0;">
  <br/>
  <p class="main_title"><%= @title %></p>
  <%= render 'layouts/submenu'%>
  <div class="prepend-1 append-bottom span-22">
    <hr/>
    <%= yield %>
  </div>
  <div class="span-1 last"></div>
</div>