<%= javascript_include_tag :defaults %>
<div class="prepend-1 span-22">
  <ul class="navigation">
      <% @submenus.each do |submenu| %>
          <li class="<%= submenu.padding %>">
            <%= link_to_function(submenu.name) do |page|
                    page.show submenu.sectiontoshow
                    submenu.concurrentmenus(@submenus).each do |sectiontohide|
                        page.hide sectiontohide
                    end
                end
            %>
          </li>
      <% end %>
  </ul>
</div>